.header {
  padding: 1.25rem 3.125rem;
  z-index: $z-index--header;
  
  background: $header-bg;
  color: $header-color;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo .logo {
    @include size(10rem, 1.875rem);
  }

}