$map-height: 710px;

.section {
  &--contacts {
    margin-top: 4rem;
    min-height: $map-height;
    padding: 10rem 0 6rem;
  }
  
  &--contacts &__map {
    @include absolute(bottom 0 right 0);
    @include size(50%, 100%);
    min-height: $map-height;
  }
  
  &--contacts &__heading {
    letter-spacing: 0.2em;
    margin-bottom: 3rem;
    margin-left: 4.25rem;
  }
  
  &--contacts &__content {
    padding-left: 3rem;
  }
  
  &--contacts &__addresses {
    margin-top: 3rem;
    
    .address__list {
      margin-top: 5rem;
    }
  }
  
}