.section {
  &--fashion {
    padding: 7rem 0 13.5rem;
  }
  
  &--fashion &__heading-wrapper,
  &--fashion &__content {
    padding: 0 0.5rem 0 2.5rem;
  }
  
  &--fashion &__heading-wrapper {
    margin-bottom: 5.3rem;
  }
  
  &--fashion &__heading {
    margin: {
      left: 3rem;
      bottom: 10.3rem;
    }
  }
  
  &--fashion &__text {
    max-width: 23em;
    margin-left: 0.3rem;
  }
  
  &--fashion &__content {
    .text-block--white {
      padding: 4.7rem 10rem 2.5rem;
      margin-left: 0.3rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .text-block--left,
      .text-block--right {
        width: 48%;
      }
      .text-block--right .tp-body--base {
        max-width: 18em;
      }
    }
    
    > .text-block--left {
      max-width: 18em;
      margin: {
        top: 9.5rem;
        left: 10.5rem;
      }
    }
    
    .tp-body--base {
      max-width: 16.5em;
      z-index: 2;
    }
    .tp-body--medium {
      min-width: 30em;
      margin-left: 0;
      margin-right: -8rem;
      z-index: 2;
      
      @media #{$media-lg} {
        margin-right: -13.5rem;
      }
    }
  }
  
  &--fashion &__img {
    &--top {
      @include absolute(top -22em left 1rem);
      overflow-x: hidden;
      @include size(100%);
      img {
        @include absolute-center-hrz;
        @include size(1866px, 1638px);
      }
    }
    &--bottom {
      @include absolute(bottom -13.5rem left 20rem);
      overflow-x: hidden;
      @include size(100%);
      img {
        @include absolute-center-hrz;
        @include size(950px, 963px);
        bottom: 0;
      }
    }
  }
}