.section {

  &--start {
    padding-top: 22rem;
  }

  &--start &__video-wrapper {
    @include absolute(top 0 left 0);
    @include size(100%);
    z-index: 0;
    
    + .container {
      z-index: 1;
    }
  }
  
  &--start &__video {
    @include size(37.5rem, 23.1rem);
    
    &::before {
      content: '';
      display: block;
      @include size(33rem, 50rem);
      background: #e6e6e6;
    }
    
    &--left {
      @include absolute(top 18.5rem right 50%);
      margin-right: 18rem;
      
      &::before {
        @include absolute(top -5rem right 11.5rem);
      }
    }
    
    &--right {
      @include absolute(top 18.5rem left 50%);
      margin-left: 20rem;
      
      &::before {
        @include absolute(bottom -7.5rem left 10rem);
      }
    }
    
  }
  
  &--start &__heading {
    margin-left: 5.5rem;
    &::before {
      content: '';
      display: block;
      @include size(17.5rem, 1px);
      @include absolute(top 62.5% left 48%);
      background: #131313;
      transform-origin: center center;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
  
  &--start &__subheading {
    margin-top: 1.5rem;
    margin-left: 3rem;
    letter-spacing: 4.5px;
  }
  
  &--start &__text {
    max-width: 36rem;
    @include center-block();
    margin-top: 30.5rem;
  }
  
  
}