.rk {
  &-1 {
    img {
      @media #{$md-landing} {
        max-height: 65.45vw;
      }
    }
    .img-wrapper {
      @include absolute(top 13rem left 0);
      @media #{$md-landing} {
        top: 18.91vw;
      }
    }
    .page__heading {
      @include absolute(top 0 left 0);
    }
    .text-block-wrapper {
      margin-left: 35.5rem;
      @media #{$md-landing} {
        margin-left: 51.64vw;
      }
    }
  }
  &-2 {
    .img-wrapper {
      @include absolute(top -7rem left 30.5rem);
      @media #{$md-landing} {
        top: -10.18vw;
        left: 44.36vw;
      }
    }
    
    img {
      @media #{$md-landing} {
        max-height: 40.9vw;
      }
    }
  }
  &-4 {
    .img-wrapper {
      @include absolute(top 0 left 0);
      
      @media #{$md-landing} {
        img {
          max-height: 72vw;
        }
      }
    }
    .text-block-wrapper {
      margin-left: 42rem;
      @media #{$md-landing} {
        margin-left: 61vw;
      }
      
      img {
        margin-left: -1rem;
        @media #{$md-landing} {
          margin-left: -1.45vw;
        }
      }
      
      @media #{$md-landing} {
        img {
          max-height: 26vw;
        }
      }
    }
    .blockquote-wrapper {
      @include absolute(bottom 2rem left 0);
      width: 41.25rem;
      @media #{$md-landing} {
        bottom: 2.91vw;
        width: 60vw;
      }
    }
    .text-block {
      width: 23.5rem;
      @media #{$md-landing} {
        width: 34.18vw;
      }
    }
    img + .text-block {
      width: 22.9rem;
      @media #{$md-landing} {
        width: 33.31vw;
      }
    }
  }
}