.tl {
  &-1 {
    img {
      margin-right: -4rem;
      @media #{$md-landing} {
        max-height: 54vw;
        margin-right: -5.82vw;
      }
    }
    .img-wrapper {
      @include absolute(top 13.5rem left 0);
      @media #{$md-landing} {
        top: 19.64vw;
      }
    }
    .page__heading {
      @include absolute(top -0.5rem left -0.5rem);
      @media #{$md-landing} {
        top: -0.73vw;
        left: -0.73vw;
      }
    }
    .text-block-wrapper {
      margin-left: 36.325rem;
      @media #{$md-landing} {
        margin-left: 52.84vw;
      }
    }
  }
  &-2 {
    
    @media #{$md-landing} {
      img {
        max-height: 40.91vw;
      }
    }
    .img-wrapper {
      @include absolute(top 0 left 30.5rem);
      @media #{$md-landing} {
        left: 44.36vw;
      }
    }
    .blockquote-wrapper {
      @include absolute(top 30rem left 29.5rem);
      @media #{$md-landing} {
        top: 43.64vw;
        left: 42.91vw;
      }
    }
  }
  &-3 {
    .img-wrapper {
      @include absolute(bottom 1.5rem left -9rem);
      z-index: 0;
      @media #{$md-landing} {
        bottom: 2.18vw;
        left: -13vw;
      }
      
      &--big {
        bottom: auto;
        top: 0;
        left: -2rem;
        z-index: 1;
        @media #{$md-landing} {
          left: -2.91vw;
        }
      }
      
      @media #{$md-landing} {
        img {
          max-height: 46.18vw;
        }
        &--big img {
          max-height: 87.27vw;
        }
      }
    }
    .text-block-wrapper {
      margin-left: 40.5rem;
      @media #{$md-landing} {
        margin-left: 53.91vw;
      }
      
      img {
        margin-left: -1.7rem;
        @media #{$md-landing} {
          margin-left: -2.47vw;
        }
      }
      
      @media #{$md-landing} {
        img {
          max-height: 32vw;
        }
      }
    }
    .text-block {
      width: 24rem;
      @media #{$md-landing} {
        width: 34.91vw;
      }
      
      &--small {
        width: 23rem;
        @media #{$md-landing} {
          width: 33.45vw;
        }
      }
    }
  }
  &-4 {
    margin-top: -2rem;
    @media #{$md-landing} {
      margin-top: -2.91vw;
    }
  }
}