.tl {
  &-1 {
    img {
      margin-right: -4rem;
      @media #{$md-landing} {
        max-height: 54vw;
        margin-right: -5.82vw;
      }
    }
  }
  &-2 {
    //margin-right: -10px;
    
    @media screen and (max-width: 1160px) {
      margin-right: -70px;
    }
    
    @media #{$md-landing} {
      margin-right: -0.9vw;
      max-width: 42.5vw;
    }
    .tp-heading--huge {
      max-width: 32.5rem;
      margin-left: -1.5rem;
      
      @media #{$md-landing} {
        max-width: 47.27vw;
      }
    }
  }
  &-3 {
    z-index: 1;
    margin-top: 7rem;
    
    @media #{$md-landing} {
      margin-top: 10.18vw;
    }
  }
  &-4 {
    margin-left: -120px;
    margin-right: 60px;
    z-index: 0;
    
    @media screen and (max-width: 1160px) {
      margin-right: 0.6vw;
    }
    
    @media #{$md-landing} {
      margin-left: -12.9vw;
      margin-right: 5.45vw;
      
      img {
        max-height: 40.91vw;
      }
    }
  }
  &-5 {
    clear: left;
  }
  &-6 {
    margin-right: -2.2vw;
    margin-left: -3.5vw;
    
    blockquote {
      margin-right: 3.5vw;
    }
  }
  &-7 {
    z-index: 1;
    
    img {
      margin-right: 2rem;
      @media #{$md-landing} {
        max-height: 87.27vw;
        margin-right: 2.91vw;
      }
    }
  }
  &-8 {
    margin-right: -10px;
    margin-top: 4rem;
    max-width: 380px;
    
    img {
      margin-left: -3.5vw;
    }
    
    @media #{$md-landing} {
      margin-right: -0.9vw;
      max-width: 34.55vw;
      margin-top: 5.82vw;
      
      img {
        max-height: 32vw;
      }
    }
  }
  &-9 {
    margin-left: -143px;
    margin-right: 150px;
    margin-top: -190px;
    z-index: 0;
    
    @media #{$md-landing} {
      margin-left: -13vw;
      margin-right: 13.64vw;
      margin-top: -17.27vw;
      
      img {
        max-height: 46.18vw;
      }
    }
  }
  &-10 {
    margin-top: -50px;
    margin-right: 55px;
    
    @media screen and (max-width: 1160px) {
      margin-right: 2vw;
    }
    
    @media #{$md-landing} {
      margin-top: -4.55vw;
      margin-right: 5vw;
    }
  }
}